<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty Characters</title>
</head>
<body>
    <h1> Welcome to the Rick & Morty character finder!</h1>
    <p>Enter details below to find your character</p>
      <form action="/results" id="myForm" method="post">
        <label for="charName">Name of Character:</label>
        <input type="text" id="charName" name="name">
  
        <label for="charStatus">Status:</label>
        <select id="charStatus" name="status">
          <option value=""></option>
          <option value="dead">Dead</option>
          <option value="alive">Alive</option>
          <option value="unknown">Unknown</option>
        </select>
  
        <label for="charGender">Gender:</label>
        <select id="charGender" name="gender">
          <option value=""></option>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="genderless">Genderless</option>
          <option value="unknown">Unknown</option>
        </select>
  
        <button type="submit" class="form-submit">Go</button>
      </form>
    <div class="container">
      <div class="response-area">
        <section id="cards" class="cards">
          <article class="card-item">
            
            <h2 class="card-name">
              Name: <%= content.name %>
            </h2>
            <div class="card-info">
              <span class="card-id">
                ID: <%= content.id %>
              </span>
              <span class="card-status">
                Status: <%= content.status %>
              </span>
              <span class="card-location">
               Last known location:  <%= location %>
              </span>
            </div>
            <div>
              <img src=<%= content.image %> height="200">
            </div>
  
          </article>
        </section>
      </div>
</body>
</html>