<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty Characters</title>
</head>
<body>
      <!-- <% if (locals.content) { %>
      <section id="cards" class="cards">
      
        <article class="card-item">
          <h2 class="card-name">
            Name: <%= content.name %>
          </h2>
          <div class="card-info">
            <span class="card-id">
              ID: <%= content.id %>
            </span>
            <span class="card-status">
              Status: <%= content.status %>
            </span>
            <span class="card-location">
             Last known location:  <%= location %>
            </span>
          </div>
          <div>
            <img src=<%= content.image %> height="200">
          </div>
        </article>
        <%} else { %> -->

          <h1> Welcome to the Rick & Morty character finder!</h1>
    <p>Enter details below to find your character</p>
    <form action="/" id="form" class="form" method="POST">
        <select name="status" class="form-select">
          <option value="" data-display="Select"></option>
          <option value="alive">Alive</option>
          <option value="dead">Dead</option>
          <option value="unknown">Unknown</option>
        </select>
        <input type="number" name="id" class="form-select" value="" max="826" min="1">
          Character ID
        </input>
        <button type="submit" class="form-submit">Go</button>
      </form>
      <% } %>

          <div id="tag-error" class="tag-error">
         
          
          </div>
         
  
      </section>
    </div>
</body>
</html>